@media all and (max-device-width: 500px) {
  
    @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
    *{
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        
        
    }
    
    hr{
        margin-top: 30px;
        border-radius: 305px;
    
    }
    
    
    .sidebar{
        background-color: #e4ba02;
        width: 29rem;
        height: 6rem;
        font-family: 'Fira Sans', sans-serif;
    }
    .sidebar nav{
        padding: 1rem;
        padding-left: 0rem;
    }
    .sidebar nav ul{
        list-style: none;
    }
    .sidebar nav ul li{
        padding: 1rem;
        padding-top: 0rem;
        display: inline-block;
    }
    .sidebar nav ul a{
        text-decoration: none;
        color: rgb(252, 250, 250);
        cursor: pointer;
    }
    
    .main{
        background-color:rgb(254, 255, 255);
        width: 29rem;
    }
    .container{
        display: block;
    }
    .infocontainer{
        background-color: rgb(169, 172, 173);
    display: flex;
    width: auto;
    margin: 2rem auto;
    height: 21rem;
    }
    .contentinfo{
        padding-left: 1rem;
        
        width:70rem;
        
        
    }
    .textinfo {
        padding-top: 37px;
        width: 245px;
        font-size: 10px;
        
    }
    .hello{
        padding-top: 2rem;
        font-size:3rem;
        font-weight: 1000 ;
    }
    .name{
        padding-top: 1rem;
        font-size: 1rem;
        font-weight: 900;
    
    }
    .buttons{
        display: flex;
        padding: 7px;
        margin-top: 10px;
        margin-left: 1rem;
        
    }
    .buttons button{
        padding: 0.5rem;
        margin: 1rem;
        border-radius: 21px;
        cursor: pointer;
    }
    .buttons button:hover{
        background-color: blue;
        color: rgb(249, 249, 253);
    }
   
    .divimage
    {
        height: 17rem;
    }
    .divimage img{
        height: 10rem;
        padding-right: 59rem;
        padding-top: 2rem;
    }
    .skillimage{
        text-align: center;
        margin-top: 1rem;
        width:23rem;
    }
    .skillcontent{
        padding: 2rem;
        width:20rem;
    
    }
    .intimage{
        height: 219px;
        
    }
}